body{
	background-color:seagreen;
}
body *{
	margin-top:0px;
}
#wrapper{
	width:800px;
	border: none;
	margin:auto;
	border:4px solid green;
	border-radius:8px;
}

#header{
	width:100%;
	min-height:100px;
	border-bottom: 4px solid green;
	padding-top:20px;
	background-color:gold;
}

#header h1{
	padding-left:10%;
}

#header h2{
	padding-left:30%;
	font-style:italic;
}

#nav{
	width:100%;
	border-bottom: 4px solid green;
	min-height:30px;
	background-color:seagreen;
	margin-top:0px;
}

#nav ul{
	list-style:none;
	padding-bottom:8px;
	margin-top:8px;
}

#nav li{
	float:left;
	padding-left:80px;
}

#nav a{
	color:gold;
}

#nav a:hover{
	color:seagreen;
	background-color:gold;
}

#main{
	width:100%;
	min-height:500px;
	border-bottom: 4px solid green;
	margin:0px;
	background-color:white;
}

#key{
	width:33%;
	float:left;
	border-right:4px solid green;
	border-bottom: 4px solid green;
	margin-right:4px;
	background-color:darkgreen;
	box-shadow:4px 4px 4px gray;
}

#key h3{
	padding-left:4px;
}

#key ul{
	list-style:none;
	padding-left:4px;
}

#main h1, #main h2{
	text-decoration:underline;
	padding-left:4px;
}

#main p{
	padding-left:4px;
}

#footer{
	width:100%;
	background-color:white;
	height:25px;
}

#blue{
	background-color:aqua;
}

#orange{
	background-color:orange;
}